<ul class="loginbar pull-right">
  <% if user_signed_in? %>
      <li class="dropdown">
        <%= link_to fa_icon("user") + " " + current_user.print, "", class: "dropdown-toggle", data: {toggle: "dropdown", delay: "0", :'close-others' => "false"}%>
        <ul class="dropdown-menu">
          <li><%= link_to "Profil", "current_user" %></li>
          <li><%= link_to "Kontoinställningar", edit_user_registration_path%></li>
          <li><%= link_to "Logga ut", :destroy_user_session, method: :delete %></li>
        </ul>
      </li>
  <% else %>
      <li>
        <%= link_to fa_icon("sign-in") + ' Logga in', new_user_session_path %>
      </li>
  <% end %>
</ul>