<%= simple_form_for(@customer, html: { class: "tab-v1" }) do |f| %>
  <ul class="nav nav-justified nav-tabs">
    <li class="<%=@tab == :basic ? 'active' : ''%>">
      <a data-toggle="tab" href="#basic">
        <%= t('customer.basic') %>
      </a>
    </li>
    <li class="<%=@tab == :addresses ? 'active' : ''%>">
      <a data-toggle="tab" href="#addresses">
        <%= t('customer.addresses') %>
      </a>
    </li>
    <li class="<%=@tab == :extra ? 'active' : ''%>">
      <a data-toggle="tab" href="#extra">
        <%= t('customer.extra') %>
      </a>
    </li>
  </ul>

  <div class="customer tab-content">
    <div id="basic" class="tab-pane fade in <%=@tab == :basic ? 'active' : ''%>">
      <%= f.input :firstname, autofocus: true %>
      <%= f.input :lastname %>
      <%= f.input :phone %>
      <%= f.input :email %>
    </div>

    <div id="addresses" class="tab-pane fade in <%=@tab == :addresses ? 'active' : ''%>">
      <% f.simple_fields_for :addresses do |address| %>
        <%= render 'address_fields', f: address %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Lägg till address', f, :addresses %>
      </div>
    </div>

    <div id="extra" class="tab-pane fade in <%=@tab == :extra ? 'active' : ''%>">
      <%= f.input :old_id %>
      <%= f.association :company, collection: Company.all %>
    </div>
  </div>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
