<%= simple_form_for(@customer, html: {class: 'form-horizontal form-company'}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :lastname %>
      <%= f.input :phone %>
      <%= f.input :cellphone %>
      <%= f.input :email %>
      <%= f.input :old_id %>
    </div>

    <div id="addresses">
      <%if !@customer.new_record? %>
          <%= link_to('Lägg till adress', new_customer_address_path(@customer), remote: true)%>
          <hr>
      <%end%>
    </div>
    <%= f.association :company, collection: @companies %>

    <div class="form-group">
      <div class="col-md-offset-4 col-md-8">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    </div>

<% end %>
