<%= simple_form_for(@customer, html: {class: 'form-horizontal form-company'}) do |f| %>
  <%= f.error_notification %>
  <div class='row'>
    <div class='col-md-5'>
      <%= f.input :firstname, autofocus: true %>
      <%= f.input :lastname %>
      <%= f.input :phone %>
      <%= f.input :email %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
    <div class='col-md-5 col-md-offset-2'>
      <%= f.input :old_id %>
      <%= f.association :company, collection: Company.all %>
      <%= f.simple_fields_for :addresses do |address| %>
        <%= render 'address_fields', f: address %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Lägg till address', f, :addresses %>
      </div>
    </div>
  </div>
<% end %>
