<%= simple_form_for(@machine, html: {class: 'form-horizontal form-company'}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.association :product, collection: Product.all %>
      <%= f.hidden_field :customer_id, value: @customer.try(:id) %>
      <%= f.input :serial_nbr %>
      <%= f.input :manufactured, as: :date_picker %>
      <%= f.input :engine_nbr %>
      <%= f.input :deck_nbr %>
      <%= f.input :old_id %>
    </div>
    <div class="form-group">
      <div class="col-md-offset-4 col-md-8">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    </div>

<% end %>
