<!DOCTYPE html>
<head>
  <title>Verkstad | Gräsklipparservice</title>
  <%= favicon_link_tag('favicon.ico')%>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name='viewport' content='width=device-width, initial-scale=1'/>
  <!-- Meta -->
  <meta charset='utf-8'>

  <!-- Favicon -->
  <link rel='shortcut icon' href='favicon.ico'>
</head>

<body>
  <div class='wrapper'>
    <%= render 'elements/header' %>

    <% breadcrumbs display_single_fragment: true, style: :bootstrap %>

    <div class='container content'>
      <%= bootstrap_flash %>
      <%= yield %>
    </div>

    <%= render 'elements/copyright' %>

  </div><!--/wrapper-->
</body>
</html>
