<%= simple_form_for(@machine_model) do |f| %>
    <%= f.error_notification %>
    <div class="tab-v1">
      <ul class="nav nav-justified nav-tabs">
        <li class="active"><a data-toggle="tab" href="#brand-select">Select Brand</a></li>
        <li><a data-toggle="tab" href="#brand-new">New Brand</a></li>
      </ul>
      <div class="tab-content">
        <div id="brand-select" class="brand-select tab-pane fade in active">
          <%= f.association :brand, collection: Brand.all.order(:title) %>
        </div>
        <div id="brand-new" class="profile-edit tab-pane fade">
          <%= f.simple_fields_for :brand do |p| %>
              <%= render 'brands/fields', var: p %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="tab-v1">
      <ul class="nav nav-justified nav-tabs">
        <li class="active"><a data-toggle="tab" href="#type-select">Select WorkType</a></li>
        <li><a data-toggle="tab" href="#type-new">New WorkType</a></li>
      </ul>
      <div class="tab-content">
        <div id="type-select" class="brand-select tab-pane fade in active">
          <%= f.association :machine_type, collection: MachineType.all %>
        </div>
        <div id="type-new" class="profile-edit tab-pane fade">
          <%= f.simple_fields_for :machine_type do |p| %>
              <%= render 'machine_types/fields', var: p %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-inputs">

    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
