<p id="notice"><%= notice %></p>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Short</th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @machine_model.brand %></td>
        <td><%= @machine_model.machine_type %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_machine_model_path(@machine_model) %> |
<%= link_to 'Back', machine_models_path %>
